.wrap{
  padding: 20px;
}

.title{
  font-size: 25px;
  font-weight: 600;
}

.btn_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.btn_item{
  width: 300px;
  padding: 20px;
  cursor: pointer;
}

.btn_item:not(:last-child){
  border-bottom: 1px solid #ddd;
}