/* NewFeed.js */

/* 상단바 */
.menu_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.feed_detail .menu_title{
  box-shadow: 0px 0px 10px 0px rgb(245 245 245 / 90%);
}

.menu_title .title{
  font-size: 18px;
  font-weight: 600;
}

.menu_title .left_icon{
  color: gray;
  cursor: pointer;
}

.menu_title .hidden{
  visibility: hidden;
  width: 24px;
}

.menu_title .submit_btn{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

/* 메인화면 */
.new_feed .wrap{
  margin-top: 60px;
  padding: 0 30px 30px 30px;
}

.new_feed .photo_wrap{
  display: flex;
  overflow-x: scroll;
  /* overflow-y: visible; */
  height: 83px;
  align-items: center;
}

.new_feed .photo_wrap::-webkit-scrollbar{
  display: none;
}

.new_feed .add_photo_box{
  background-color: rgb(245, 245, 245);
  width: 70px;
  height: 70px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.new_feed .photo_btn{
  color: rgb(210, 210, 210);
  font-size: 25px;
}

.new_feed .hidden{
  display: none;
}

.new_feed .preview{
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgb(220 220 220 / 40%);
  margin-left: 10px;
  object-fit: cover;
  background-size: cover;
}

.new_feed .delete_btn{
  position: relative;
  top: -5px;
  right: -57px;
  color: rgb(130, 130, 130);
  font-size: 18px;
  /* padding: 3px; */
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

.new_feed .content{
  width: 100%;
  height: 44px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  /* background-color: rgb(245, 245, 245); */
  resize: none;
  padding: 10px;
}

.new_feed .content::placeholder{
  font-size: 15px;
}

.new_feed .subtitle{
  font-weight: 600;
}

.new_feed .tag_box{
  margin-top: 20px;
}

.new_feed .tag_box .subtitle{
  margin-bottom: 10px;
}

.new_feed .tag_wrap{
  display: flex;
  overflow-x: scroll;
}

.new_feed .tag_input_wrap{
  border: 1px solid rgb(230, 230, 230);
  background-color: transparent;
  border-radius: 10px;
  font-size: 14px;
  padding: 0 8px;
  margin-left: 5px;
  white-space: nowrap;
}

.new_feed .tag_input{
  border: white;
  background-color: transparent;
  width: 53px;
  min-width: 53px;
  font-size: 14px;
}

.new_feed .tag{
  background-color: rgb(245, 245, 245);
  padding: 0 8px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 5px;
  white-space: nowrap;
  display: flex;
  /* justify-content: center; */
  align-items: center
}

.new_feed .weight_wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.new_feed .weight_wrap .subtitle{
  /* margin-right: -webkit-fill-available; */
}

.new_feed .input_wrap{
  /* border-bottom: 1px solid #86dbcb; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 150px;
}

.new_feed .narrow_input{
  /* width: -webkit-fill-available; */
  text-align: right;
  border: none;
  width: 100%;
  padding: 10px;
}

/* FeedDetail.js */
.feed_detail .wrap{
  margin-top: 60px;
}

.feed_detail .user_wrap{
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.feed_detail .user_photo{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.feed_detail .user_name{
  font-size: 14px;
  font-weight: 600;
}

.feed_detail .photo{
  width: 100%;
  max-height: 100vw;
}

.feed_detail .content_wrap{
  padding: 10px 20px;
}

.feed_detail .btn_wrap{

}

.feed_detail .btn_wrap .like_off{

}

.feed_detail .content{
  margin-top: 10px;
}

.feed_detail .tag_wrap{
  display: flex;
  margin-top: 20px;
}

.feed_detail .tag{
  padding: 3px 8px;
  background-color: rgb(245, 245, 245);
  border-radius: 11px;
  font-size: 14px;
}

.feed_detail .tag:not(:last-child){
  margin-right: 8px;
}