.custom_tag{
  --tag-bg                  : rgb(245, 245, 245);
  --tag-hover               : rgb(245, 245, 245);
  /* --tag-text-color          : #FFF; */
  --tags-border-color       : silver;
  --tag-border-radius       : 10px;
  --tag-text-color--edit    : #111;
  --tag-remove-bg           : var(--tag-hover);
  /* --tag-pad                 : .3em .3em .3em .6em; */
  --tag-inset-shadow-size   : 1.35em;
  --tag-remove-btn-bg--hover: black;

  display: inline-block;
  min-width: 0;
  border: none;
}

.tagify__tag>div{
  padding: 4.5px 4.5px 4.5px 9px;
}

.tagify__tag-text{
  font-size: 15px;
  line-height: 18px;
}

.tagify__input{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  min-width: 50px;
  font-size: 15px;
  padding: 4.5px 9px 4.5px 9px;
  /* line-height: 18px; */
}