.maintitle{
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}

.subtitle{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.box{
  width: 100%;
  border: 1px solid lightgray;
  margin: 10px 0;
  /* border-radius: 10px; */
  display: flex;
  overflow: hidden;
}

.photo{
  width: 80px;
  /* background-color: lavender; */
  background-size: cover;
  background-position: center center;
}

.wrap{
  padding: 10px;
}

.title{
  font-weight: 600;
  cursor: pointer;
}

.info{
  font-size: 15px;
  color: gray;
}

.icon{
  font-size: 15px;
  color: gray;
}

.like{
  cursor: pointer;
  padding: 2px;
  font-size: 18px;
}

.like_off{
  color: rgba(255, 255, 255, 0.9);
}

.like_on{
  color: rgba(255, 0, 0, 0.85);
}
