.wrap{
  /* padding: 20px; */
  margin-bottom: 60px;
}

.maintitle_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.maintitle{
  font-size: 25px;
  font-weight: 600;
}

.maintitle_box > div > span{
  margin-left: 10px;
  cursor: pointer;
}

.add_btn{
  font-size: 26px;
}

.subtitle_box{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.subtitle{
  font-size: 18px;
  font-weight: 600;
}


