/* MenuBar.js */
.menu{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(230, 230, 230);
}

.menu div{
  width: 25%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
}

/* MenuTitle.js */
.menu_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.menu_title .title{
  font-size: 20px;
  font-weight: 600;
}

.menu_title .left_icon{
  color: gray;
  cursor: pointer;
}

.menu_title .hidden{
  visibility: hidden;
  width: 24px;
}

.menu_title .submit_btn{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

/* ChallengeItem.js, LikeItem.js */
.challenge{
  width: 100%;
  height: 80px;
  /* border: 1px solid lightgray; */
  background-color: rgb(248, 248, 248);
  /* margin: 10px 0; */
  /* border-radius: 10px; */
  display: flex;
  overflow: hidden;
}

.challenge:not(:last-child){
  /* border-bottom: 1px solid #eeeeee; */
  margin-bottom: 10px;
}

.challenge .photo{
  width: 80px;
  min-width: 80px;
  background-size: cover;
  background-position: center center;
}

.challenge .info_wrap{
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.challenge .title{
  font-weight: 600;
  cursor: pointer;

  /* 텍스트 라인 수 제한(2) */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.challenge .info{
  font-size: 15px;
  color: gray;
  display: flex;
  align-items: center;
}

.challenge .icon{
  font-size: 15px;
  color: gray;
}

.challenge .group_icon{
  margin-right: 3px;
}

.challenge .like{
  cursor: pointer;
  padding: 3px 2px;
  font-size: 18px;
}

.challenge .like_off{
  color: rgba(240, 240, 240, 0.9);
}

.challenge .like_on{
  color: rgba(255, 0, 0, 0.80);
}

/* ProfileChallengeItem.js */
.profile_challenge{
  width: 100%;
  height: 80px;
  /* border: 1px solid lightgray; */
  /* background-color: rgb(248, 248, 248); */
  /* margin: 10px 0; */
  /* border-radius: 10px; */
  display: flex;
  overflow: hidden;
  padding: 0 10px;
  margin-top: 10px;
}

.profile_challenge:not(:last-child){
  /* border-bottom: 1px solid #eeeeee; */
  /* margin-bottom: 10px; */
}

.profile_challenge .photo{
  width: 80px;
  min-width: 80px;
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
}

.profile_challenge .info_wrap{
  /* padding: 0px 15px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_challenge .title{
  font-weight: 600;
  cursor: pointer;

  /* 텍스트 라인 수 제한(1) */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.profile_challenge .info{
  font-size: 15px;
  color: gray;
  display: flex;
  align-items: center;
}

.profile_challenge .icon{
  font-size: 15px;
  color: gray;
}

.profile_challenge .group_icon{
  margin-right: 3px;
}

.profile_challenge .status{
  /* background-color: #f0f0f0; */
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 14px;
}

.profile_challenge .mint{
  background-color: #beeee5;
  color: white;
  font-weight: 700;
}

.profile_challenge .gray  {
  background-color: #f0f0f0;
}

.profile_challenge .activate  {
  background-color: #f0f0f0;
  color: rgb(255, 88, 88);
}