/* Notification.js */
.noti_list{
  margin-top: 57px;
  padding: 0 15px;
}

.noti_box{
  /* height: 60px; */
  padding: 10px 10px;
}

.noti_box:not(:last-child){
  border-bottom: 1px solid #eee;
}

.noti{
  cursor: pointer;
  word-break: break-all;
  font-size: 15px;
}

.noti_wrap{
  /* white-space: pre; */
  margin-right: 6px;
}

.bold{
  font-weight: 600;
}

.time{
  font-size: 13px;
  color: rgb(160, 160, 160);
  word-break: break-word;
}

.btn_wrap{
  display: flex;
  flex-grow: 1;
  margin-top: 5px;
}

.btn_wrap > div{
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  flex-grow: 1;
  margin: 0 3px;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn_approve{
  background-color: #64c1e9;
  color: white;
}

.btn_refuse{
  background-color: rgb(220, 220, 220);
}