.wrap{
  padding: 20px;
  margin-bottom: 40px;
}

.title{
  font-size: 25px;
  font-weight: 600;
}

.subtitle{
  font-size: 20px;
  font-weight: 600;
}

.health_box{
  margin-top: 30px;
}

.chart_wrap{
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.chart_wrap > div{
  /* margin: 0;
  width: 100%; */
  padding: 5px 40px 40px 40px;
}

.weight_box{
  margin-top: 50px;
}

.graph_wrap{
  margin-top: 10px ;
}